* {
    box-sizing: border-box;
}

html {
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
}

body {
    height: 100vh;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(210, 46%, 95%);
    gap: 8em;

}

h1 {
    color: hsl(217, 19%, 35%);
    font-size: 1.6rem;
    margin-top: 1.8em;
    line-height: 1.5;
}

h2 {
    font-size: 1.4rem;
    margin-bottom: .2em;
    color: hsl(217, 19%, 35%);
}

h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1.4rem;
}

p {
    margin-top: .4em;
    color: hsl(214, 17%, 51%);
}

h1+p {
    line-height: 1.6;
}

img {
    display: block;
}


main {
    border-radius: 1em;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
}

.furniture-img {
    height: 215px;
    overflow: hidden;
}

.furniture-img img {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    width: 100%;
}



article {
    padding: 1em 2.3em 0 2.3em;
    position: relative;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    position: relative;
    top: .8em;
}

.profile-wrapper {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.share-icon {
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    bottom: 3em;
    right: .7em;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: .6em;
}

.share-icon button {
    background-color: hsl(210, 46%, 95%);
}

.avatar-img img {
    width: 42px;
    height: 42px;
    border-radius: 50%;

}

.social {
    visibility: collapse;
    position: absolute;
    bottom: 0;
    right: .1em;
    color: white;
    background-color: hsl(217, 19%, 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.social-wrapper {
    display: flex;
    align-items: center;
    gap: 2em;
    flex-grow: 2;

}

.social-links {
    display: flex;
    justify-content: space-between;
}

.share-icon-alt {
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    bottom: .9em;
    right: 1.9em;
}

.share-icon-alt button {
    background-color: hsl(214, 17%, 51%);
}

.share-icon:focus-within+.social {
    visibility: visible;
}

footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}