* {
    box-sizing: border-box;
}

html {
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
}

body {
    height: 100vh;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(210, 46%, 95%);
    gap: 8em;

}

h1 {
    color: hsl(217, 19%, 35%);
    font-size: 1.6rem;
    margin-top: 1.6em;
    line-height: 1.5;
}

h2 {
    font-size: 1.3rem;
    margin-bottom: .2em;
    margin-top: 0;
    color: hsl(217, 19%, 35%);
}

h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 1.4rem;
    font-weight: 400;
    color: hsl(212, 23%, 69%);
}

p {
    margin-top: .4em;
    color: hsl(214, 17%, 51%);
}

h1+p {
    line-height: 1.6;
    margin-bottom: .8em;
}

h2+p {
    margin-bottom: 0;
    margin-top: .2em;
    color: hsl(212, 23%, 69%);
}

img {
    display: inline-block;
}


main {
    border-radius: .5em;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
}

.furniture-img {
    height: 215px;
    overflow: hidden;
}

.furniture-img img {
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    width: 100%;
}

article {
    padding: 1em 2.7em .6em 2.7em;
    position: relative;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.4em;
    position: relative;
    top: .8em;
}

.profile-wrapper {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.share-icon {
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    bottom: 2.2em;
    right: .7em;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: .6em .7em;
}

.share-icon button {
    background-color: hsl(210, 46%, 95%);
}

.share-icon button img {
    position: relative;
    top: .07em;
    left: .05em;

}

.avatar-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.social {
    visibility: hidden;
    position: absolute;
    bottom: 0.1em;
    right: .1em;
    color: white;
    background-color: hsl(217, 19%, 35%);
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 1.2em 1.1em 1.2em 2.8em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    /* transition: all 1s ease-out; */
}

.social-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5em;

}

.social-links {
    display: flex;
    gap: 1.2em;
    /* justify-content: space-between; */
    margin-top: .2em;
    align-items: center;
}

.social-links img {
    height: 20px;
    width: 20px;
}

.share-icon-alt {
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    bottom: .5em;
    left: 3.7em;
}

.share-icon-alt button {
    background-color: hsl(214, 17%, 51%);
    color: hsl(0, 0%, 100%);
    padding: .5em .6em;

}

.share-icon-alt button img {
    position: relative;
    left: .05em;
    top: .1em;
    color: white;
}

.share-icon:focus-within+.social {
    visibility: visible;
}

footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}

/* Media Queries */

@media screen and (min-width: 600px) {
    main {
        flex-direction: row;
        width: 720px;
    }

    .furniture-img {
        width: 100%;
        height: auto;
    }

    article {
        padding: 1.2em 1em .6em 3em;
    }

    .furniture-img img {
        border-top-right-radius: 0;
        border-top-left-radius: .5em;
        border-bottom-left-radius: .5em;
        border-top-right-radius: 0;
        height: 100%;
        width: 340px;
    }

    h1 {
        font-size: 2rem;
        margin-top: .7em;
        margin-bottom: .6em;
        padding-right: 1.5em;
    }

    h1+p {
        margin-top: .6em;
        margin-bottom: .2em;
        padding-right: 1.5em;
    }

    .profile {
        margin-top: .9em;
        margin-bottom: .8em;
    }

    .share-icon {
        right: 4em;
        bottom: 3em;
    }

    .social {
        width: 250px;
        height: 55px;
        border-radius: 1em;
        bottom: 7.4em;
        right: -4.4em;
        box-shadow: 0px 5px 5px hsla(212, 23%, 69%, 0.404);
    }

    .social::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .social-wrapper {
        width: 100%;
        gap: 1.6em;
    }

    .social-links {
        gap: 1.4em;
    }

    .share-icon-alt {
        display: none;
    }
}